.header {
   margin-bottom: 8rem;
   position: relative;
   height: 95vh;
   background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(/img/header-bg.jpg) center / cover no-repeat;
   clip-path: polygon(0 1%, 100% 0, 99% 95%, 0 83%);
   @include respond(tab-land) {
      margin-bottom: 2rem;
   }

   &__logo {
      position: absolute;
      top: 2rem;
      left: 3rem;
   }

   &__box {
      position: absolute;
      top: 40%;
      left: 50%;

      transform: translate(-50%, -40%);

      width: 100%;
      text-align: center;
   }

   &__subtitle {
      margin: 1rem 0 5rem 0;
      font-size: 4rem;
      letter-spacing: .5rem;
      font-weight: 300;
      color: #fff;
      animation: move-2 1.5s ease;
      @include respond(tab-land) {
         font-size: 3rem;
      }
   }
}
